{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static "css/user.css" %}" rel="stylesheet">
    <title>login</title>
</head>
<body>
    <div id="home"><a href="/" target="_top"><img src={% static "images/homebutton.png" %} width="150" height="150" ></a></div>
    <div id="header">
        <div style="float: left;"><a href="/"><img src={% static "images/logo1.png" %} width="80" height="80"></a></div>
        <div style="float: left;"><a href="/" class="logo">線上生鮮超市 Online Market</a></div>
    </div>
    <div class="form-body">
        <div class="login-form">
            <form action="" method="post">
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
                {% csrf_token %}
                {{ login_form.as_p }}
            <input type="submit" style="font-size: 26px;" value="登入">
            </form>
        <br>
        <a href="/user/register/">註冊</a>
        </div>
    </div>
</body>
</html>