body{
    background-color: #FBFFB9;
    margin: 0 auto;
    font-family:Microsoft JhengHei;
}

.logo{
    text-decoration:none;
    font-weight: bold;
    font-size: 28px;
    margin-left: 3px;
    width: 100%;
    text-align: center;
}

a{
    position:relative;
    text-decoration:none;
    color: #754F44;
}

.item a:hover{
    text-decoration:underline;
}

ul, li{
    position:relative;
}

.subheader{
    height: 50px;
    line-height:50px;
    background-color: #FDD692;
    border-top-style:solid;
    border-bottom-style: solid;
}

.cart{
    font-weight: bold;
    font-size: 26px;
    text-align: right;
    margin-right: 15px;
    margin-top:4px;
}

.cart_detail{
    margin-left: 50px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    border: 5px black solid;
}

#content{
    height: 100%;
    width: 100%;
}

#sidebar{
    background-color: #FDD692;
    width: 100%;
    border-bottom-style:solid;
    margin-bottom: 50px;
    line-height: 40px;
    height: 40px;
    margin-top: -10px;
}

.selected{
    font-size: 22px;
    font-weight: bold;
    list-style-type: none;
}

.price{
    font-size: 26px;
}

.item{
    text-align:center;
    font-size: 26px;
    height: 300px;
    width: 300px;
    float:left;
    margin-left: 150px;
    margin-bottom: 100px;
}

label[for="id_quantity"]{
    margin-right: 10px;
}

td{
    width: 150px;
}

table{
    border: 4px;
}

.total{
    height: 150px;
    font-size: 30px;
}

.text-right{
    text-align: right;
}

.button {
    text-align: center;
    display: block;
    width: 200px;
    height: 30px;
    background: lightblue;
    padding: 10px;
    color: white;
    font-weight: bold;
    float: left;
    border-radius: 12px;
    left:67%;
    margin-right: 20px;
    font-size: 22px;
}

.button_back{
    text-align: center;
    display: block;
    width: 200px;
    height: 30px;
    background: lightblue;
    padding: 10px;
    color: black;
    font-weight: bold;
    float: left;
    border-radius: 12px;
    left: 5%;
    font-size: 22px;
}

.button:visited{
    color: white;
}

.light{
    background-color: #ffd2d2;
    color: black;
}

.light:visited{
    color: black;
}

.check{
    width: 350px;
    position: relative;
    border: 5px black dashed;
    float: left; 
    margin-right: 150px;
    margin-left: 15%;
    font-size: 20px;
    background-color: #FDD692;
}

.order-form{
    float: left;
    margin-left: 15%;
    padding-right: 40px;
    padding-left: 30px;
    font-size: 26px;
}

#header{
    height: 40px;
    width: 100%;
    text-align: center;
    margin-left: 3%;
}

