body{
    background-color: cornsilk;
    margin: 0 auto;
    padding: 0 auto;
}
.logo{
    text-decoration:none;
    font-weight: bold;
    font-size: 26px;
    padding-left: 10px;
}

a{
    position:relative;
    text-decoration:none;
    color: blue;
}

a:visited {
    color: blue;
}
ul, li{
    position:relative;
}

#subheader{
    height: 50px;
    line-height:50px;
    background-color: lightblue;
    border-top-style:solid;

}

.cart{
    font-weight: bold;
    font-size: 26px;
    text-align:right;
    margin-right: 50px;
}

#content{
    height: 100%;
    width: 100%;
}

#sidebar{
    background-color: lightsalmon;
    width: 100%;
    border-bottom-style:solid;
    border-top-style: solid;
    margin-bottom: 50px;
}

.selected{
    font-size: 22px;
    font-weight: bold;
    list-style-type: none;
}

.price{
    font-size: 26px;
}

.item{
    text-align:center;
    font-size: 26px;
    height: 300px;
    width: 300px;
    float:left;
    margin-left: 150px;
    margin-bottom: 100px;
}