{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <div style="float: left;"><a href="/"><img src={% static "images/logo1.png" %} width="80" height="80"></a></div>
        <div style="float: left;"><a href="/" class="logo">線上生鮮超市 Online Market</a></div>
    </div>
    <div id="subheader">
        <div class="cart">
            {% if request.session.is_login %}
                {{ request.session.user_name }}哈囉~
                <a href="/user/logout/" style="color: #EC7357;">登出</a>
                <a href="/user/reset_pw" style="color: #EC7357;">變更密碼</a>
            {% else %}
                <a href="/user/login/" style="color: #EC7357;">登入</a>
                <a href="/user/register/" style="color: #EC7357;">註冊</a>
            {% endif %}
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                   您的購物車有
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} 件商品, 共
                        ${{ cart.get_total_price }}
                    </a>
                {% else %}
                    您的購物車是空的!趕快買起來阿!!
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>