{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <a href="/" class="logo">線上生鮮超市 Online Market</a>
    </div>
    <div id="subheader">
        <div class="cart">
            {% if request.session.is_login %}
                {{ request.session.user_name }}哈囉~
                <a href="accounts/logout/">登出</a>
            {% else %}
                <a href="accounts/login/">登入</a>
                <a href="accounts/register/">註冊</a>
            {% endif %}
        </div>
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>