body{
    background-color: #FBFFB9;
    margin: 0 auto;
    font-family:Microsoft JhengHei;
}

.logo{
    text-decoration:none;
    font-weight: bold;
    font-size: 28px;
    margin-left: 3px;
    width: 100%;
    text-align: center;
}

ul, li{
    position:relative;
}

a{
    position:relative;
    text-decoration:none;
    color: #754F44;
}

#header{
    height: 40px;
    width: 100%;
    text-align: center;
    margin-left: 3%;
}

.form-body
{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 5%;

}
#home{
    position: fixed;
    top: 70%;
    right:10%;
}

.login-form{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 26px;
}
.register-form{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 26px;
    line-height: 50px;
}
