{% extends "shop/base.html" %}
{% load staticfiles %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <div id="sidebar">
        <ul>
            <li class="selected">
                <a href="{% url "shop:product_list" %}" style="color: red;margin-left: 10px;">全部</a>
                {% for c in categories %}
                    <a href="{{ c.get_absolute_url }}" style="margin-left: 10px;"> {{ c.name }}</a>
                {% endfor %}
            </li>
        </ul>
    </div>

    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}
                  {% static "images/no_image.png" %}{% endif %}" style="margin-left:50px;margin-right: 100px;
                  float: left;width: 300px;height: 300px;">
        <h1>{{ product.name }}</h1>
        <p class="price">${{ product.price }}</p>
            {{ product.description|linebreaks }}

    </div>
{% endblock %}
