{% extends "shop/base.html" %}
{% load staticfiles %}

{% block title %}
結帳
{% endblock %}

{% block content %}
    <h1 style="margin-left: 17%; color: #EC7357;">填寫收件人資訊</h1>
    <div class="order-form">
        <form action="." method="post">
            {{ form.as_p }}
            <p><input type="submit" value="確認訂單" style="font-size: 20px;"></p>
            {% csrf_token %}
        </form>
    </div>

    <div class="check">
        <h3 style="margin-left: 50px">您的訂單</h3>
        <ul style="margin-left: 50px">
            {% for item in cart %}
            <li>
                {{ item.product.name }} x{{ item.quantity }}
                <span style="margin-left: 10px">${{ item.total_price }}</span>
            </li>
            {% endfor %}
        </ul>
        <p style="text-align: right;margin-right: 20px;">總價: ${{ cart.get_total_price }}</p>
    </div>
{% endblock %}