{% extends "shop/base.html" %}
{% load staticfiles %}

{% block title %}
結帳
{% endblock %}

{% block content %}
    <h1 style="margin-left: 7%;">結帳</h1>

    <div class="check">
        <h3 style="margin-left: 50px">您的訂單</h3>
        <ul style="margin-left: 50px">
            {% for item in cart %}
            <li>
                {{ item.product.name }} x{{ item.quantity }}
                <span style="margin-left: 10px">${{ item.total_price }}</span>
            </li>
            {% endfor %}
        </ul>
        <p style="text-align: right;margin-right: 20px;">總價: ${{ cart.get_total_price }}</p>
    </div>

    <form action="." method="post" class="order-form">
        {{ form.as_p }}
        <p><input type="submit" value="確認訂單"></p>
        {% csrf_token %}
    </form>
{% endblock %}